[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "*"
django-model-utils = "*"
factory-boy = "*"
django-environ = "*"
django-extensions = "*"
gunicorn = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.9"
